---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>Second page</h1>

	<ul>
		<li><a href="/">Main page</a></li>
		<li><a href="/1">First page</a></li>
		<li><a href="/2">Second page</a></li>
		<li><a href="/3">Third page</a></li>
	</ul>
</Layout>
